body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #37393A;
    text-align: center;
    user-select: none;
    color: aliceblue;
}

.calculatorBack {
    background-color: #475966;
    padding: 4px;
    border-radius: 10px;
    border-style: none;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.9);
}

.calculator {
    background-color: #D6C9C9;
    padding: 16px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.undoContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.undo, #undo {
    border-radius: 50% !important;
    text-align: center;
}

span.front.undo {
    transform: translateY(-12px);
    padding: 30px
}

.displayBox {
    background-color: #37393A;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    font-size: 40px;
    color:aliceblue;
    border-radius: 6px;
    border-style: none;
    box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.8);
}

.displayBox, .undoContainer {
    margin-bottom: 25px;
}

.display {
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: larger;
}

.active { 
    background-color: rgb(67, 67, 174);
}

button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    font-size: large;
    text-align: center;
    color: #EEEBD3;
}

.buttons {
    padding: 2px;
}

.pushable {
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    position: relative;
    background: transparent;
    transition: filter 600ms;
    -webkit-tap-highlight-color: transparent;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.front {
    display: block;
    padding: 20px 50px;
    border-radius: 12px;
    position: relative;
    font-size: 1.25rem;
    background: #77B6EA;
    color: white;
    transform: translateY(-9px);
    will-change: transform;
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    transform: translateY(2px);
    filter:blur(4px);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
    to left,
    #475966 0%,
    #577892 8%,
    #577892 92%,
    #475966 100%
  );
}

.pushable:hover .front {
    transform: translateY(-13px);
    transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:active .shadow {
    transform: translateY(1px);
}

.pushable:hover .shadow {
    transform: translateY(4px);
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.pushable:hover {
    transition: filter 250ms;
    filter: brightness(110%);
}